<div class="game">
    <ng-container *ngIf="!startgame">
        <ng-container *ngIf="winner">

            <div *ngIf="winner === 1" class="result">
                <span class="text-win-lose">YOU <span class="yellow">WIN!</span></span>
                <i class="bi bi-trophy-fill yellow"></i>
            </div>
            <div *ngIf="winner === 2" class="result">
                <span class="text-win-lose">YOU <span class="red outline">LOSE!</span></span>
                <i class="bi bi-emoji-tear-fill  white"></i>
            </div>
        </ng-container>
    </ng-container>

    <ng-container *ngIf="startgame">
        <div class="board">

            <div *ngFor="let row of myBoard; let i = index" class="d-flex">
                <div *ngFor="let cell of row; let j = index" class="case" [class.drop]="isJustPlayed(i, j)" [class.blue]="cell === 1" [class.red]="cell === 2" [class.empty]="!cell" (click)="activeCell(i,j,cell) ">
                </div>

            </div>
        </div>
    </ng-container>

    <button class="btn btn-dark yellow" (click)="start()" *ngIf="!startgame"> <i class="bi bi-play-fill"></i><span>Start</span></button>
    <button class="btn btn-dark  border-white" (click)="stop()" *ngIf="startgame"> <i class="bi bi-stop-fill red"></i><span>Stop</span></button>

</div>
