.board {
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 28rem;
}

.case {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    &.empty {
        background-color: #fff;
    }
    &.blue {
        background-color: blue;
    }
    &.red {
        background-color: red;
    }
    &.drop {
        animation: drop 0.4s ease-out;
    }
}

@keyframes drop {
    0% {
        transform: translateY(-200px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}