.game {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

.board {
    background-color: #495771;
    display: flex;
    flex-direction: column;
    width: 28rem;
}

.case {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    margin: 0.25rem 0.15rem;
    &.empty {
        background-color: #fff;
    }
    &.blue {
        background-color: blue;
    }
    &.red {
        background-color: red;
    }
    &.drop {
        animation: drop 0.4s ease-out;
    }
}

@keyframes drop {
    0% {
        transform: translateY(-200px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.btn {
    width: 100%;
    border: #FFC107 2px solid;
    color: #FFC107;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #FFC107;
    border-radius: 25px;
    margin: 5rem;
}

// Smartphones
@media (max-width: 768px) {
    .case {
        width: 3rem;
        height: 2.5rem;
        margin: 0.2rem;
    }
    .board {
        width: 21rem;
        margin-bottom: 10rem;
    }
}
